<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <title>Todo List</title>
</head >
<body>
    <div class="container w-80 border">
        <h1>Todo List Application</h1>
        <hr>
        <!-- When we haven't todoitems  -->
        <th:block th:if="${todoItems.size() == 0}">
            <h4>Welcome!</h4>
            <h6 class="text-muted">Let's create some tasks.</h6>
        </th:block>

        <!--    When todoitems added      -->
        <th:block th:unless="${todoItems.size() == 0}">
            <div class="my-2">
                <a th:each="item : ${todoItems}" class="todoItemBlock" th:href="@{/edit/{id}(id=${item.id})}">
                    <div class="row border-light w-75 border mx-0">
                        <div class="col-8 my-auto">
                            <p th:classappend="${item.isComplete} ?
                             'completed' : ''" class="my-auto" th:text="${item.description}">
                            </p>
                        </div>
                        <div class="col-auto">
                            <span class="fw-light">Created at:</span><br>
                            <span th:text="${#temporals.format(item.createdAt, 'dd MMM yyyy, HH:mm')}"></span>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
        <!--  Create new todoitem button  -->
        <p class="my-2"><a class="btn btn-outline-success" href="/create-todo">
            <i class="bi bi-plus-square-fill"></i>Create a Todo</a>
        </p>
    </div>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>